<h1>
  Login
</h1>

<form action="/users/login" method="post">
  Email: <input type="email" name="email" />
  Contrasenia:<input type="password" name="password" />
  <button type="submit">
    Login
  </button>
</form>

<button type="submit" style="margin-top:20px ;">
  Logearse con github
</button>

<h2>
    USUARIO NUEVO?
</h2>
<button type="submit" onclick="location.href='/registro'">
    Registrarse
</button>