<h1>
  Registro
</h1>
<div class="formRegistro">
  <form action="/users/registro" method="post" class="formRegistro">
    Nombre:
    <input type="text" name="firstName" id="firstName" />
    Apellido :
    <input type="text" name="lastname" id="lastname" />
    Email:
    <input type="email" name="email" id="email" />
    Edad:
    <input type="number" name="age" id="age" />
    Contrasenia:
    <input type="password" name="password" id="password" />
    <button type="submit" onclick="location.href='/'">
      Registrarse
    </button>
  </form>

  <button type="submit" style="margin-top:20px ;">
    Registrarse con github
  </button>
</div>