<h1>
    Registro
</h1>
<form action="/users/registro" method="post">
    Nombre: <input type="text" name="firstName" id="firstName">
    Apellido : <input type="text" name="lastname" id="lastname">
    Email: <input type="email" name="email" id="email">
    Telefono: <input type="number" name="telefono" id="telefono">
    Contrasenia: <input type="password" name="password" id="password">

    <button type="submit">
        Registrarse
    </button>

</form>