<h1>JWT</h1>

<form id="formJwt">
    Email: <input type="email" name="email" id="email" />
    Password: <input type="password" name="passsword" id="password"/>
    <input type="submit" value="Ingresar"/>
</form>

<button id="boton"> PROBAR</button>

<script src="/js/jwt.js"></script>