<h1>
    Registro
</h1>
<form action="/users/registro" method="post">
    Nombre: <input type="text" name="firstName" id="firstName">
    Apellido : <input type="text" name="lastname" id="lastname">
    Email: <input type="email" name="email" id="email">
    Edad: <input type="number" name="age" id="age">
    Contrasenia: <input type="password" name="password" id="password">
    <input type="submit" onclick="location.href='/'" value="Registrarse"/>
</form>

<button type="submit" onclick="location.href='/users/registrogithub'">
    Registrarse con github
</button>