
<form action="/session" method="post" id="form">
    Usuario: <input type="text" id="nombre" name="usuario"/>
    contrasenia: <input type="password" id="contrasenia" name="contrasenia"/>

    <button type="submit" id="btnAdd">
        Agregar
    </button>
</form>